
{% extends "admin/change_list.html" %}
{% load i18n admin_urls admin_static admin_list %}

{% block extrahead %}{{ block.super }}
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
<script type="text/javascript">

// Dirty ui quick fix
$(document).ready(function(){
    
    $('.pagination').find('ul>li>').each( function() {
        var val = $(this).text();
        $(this).text("Page " + val); 
    });

    $('a:contains("Filtre")').html('Filtrer/ Trier <span class="caret"></span>');
});

</script>
{{ media }}
{% endblock %}

{% block content_title%}
<h5 style="text-align: center;">
Cliquez sur produit pour modifier la quantite
</h5>
<h5 style="text-align: center;">
Selectionnez un produit pour modifier son etat
</h5>
{% endblock %}
{% block object-tools-items %}
<li>
{% url cl.opts|admin_urlname:'add' as add_url %}
<a href="{% add_preserved_filters add_url is_popup to_field %}" style="float=left;" class="addlink btn btn-primary default">
	Ajouter un objet à la commande en cours
</a>
</li>
{% endblock %}

