{% extends "admin/change_form.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />

{% endblock %}

{% block after_related_objects %}

<script type="text/javascript">

// Dirty ui quick fix
// made me sick to write that kind of bullshit
// filter item select options depending on the selected category

    
    var categories = $('.field-categories').find('p').text().split(',');
    list_categories = '<select id="categories_container"><option value="None">------</option>';
    categories.forEach( function(item){ 
        list_categories += '<option value="' + item + '" >' + item + '</option>'; });
    list_categories += '</select>';
    $('.field-categories').find('p').html(list_categories);
    $('#categories_container').select2({ "width": "250px"});
    $('#categories_container').on("change", filter_object);

    data = [];
    $('#id_item > option').each(function() { 
            data.push({ 'id': this.value, 'text': this.text }); 
    });

    function filter_object(e) { 
        var new_filter = e.val;
        filtered_data = [];

        if ( new_filter !== "None" ){
            data.forEach( function(item) {
                if (item['text'].indexOf(new_filter) > -1){ 
                    filtered_data.push(item);
                }
            });
        }else { filtered_data = data; }

        $('#id_item').select2('destroy');
        new_options = '<option value="None">------</option>';
        filtered_data.forEach( function(item) {
                new_options += '<option value="' + item['id'] + '" >' + item['text'] + '</option>'; });
        $('#id_item').html(new_options);
        $('#id_item').select2({ "width": "250px"});
    }

// on item change call the api to retrieve item supplier and quantity by batch 

    $('#id_item').on("change", update_info);

    function update_info(e) { 
        $.getJSON('/api/item/' + e.val + '/?format=json', function(data){
            $('.field-item__quantity').find ('p').text(data['quantity']);
            $('.field-item__supplier').find ('p').text(data['supplier']['name']);

            console.log(e);
        });
    }

// Change english text to french

$('.alert-warning:contains("Fields in bold are required.")').html('Les champs en <strong> gras </strong> sont obligatoires.');

</script>
{% endblock %}

